<!--<div class="mainnav">
    <div class="buttons">
        <a href="/manage" class="btn btn-primary btn-lg active" role="button">Add to inventory</a>
        <a href="/sales" class="btn btn-primary btn-lg active" role="button">Update inventory</a>
        <a href="/inventory" class="btn btn-primary btn-lg active" role="button">Show inventory</a>
    </div>
</div>-->

