.nav-logo {
    width: 100px;
    height: 80px;
}

.navbar-nav {
    margin: 27px;
}

.navbar {
    margin-bottom: 0px;
}

.form-container {
    width: 500px;
    margin: 0px auto;
    padding: 30px;
    background: #e6e6e6;
    border-radius: 4px;
}

.form-outer-container {
    padding: 50px;
    background: url("../img/kdreambg.jpg") #000;
    background-size: cover;
}
